extends base

block content
    main.main
      .emptyBooking
        h2.heading-secondary Currently, you don't have any active bookings.
        a(href='/').heading-secondary.emptyBooking--link Please, click here to check all our available tours. 